/* Okay MUSIC プレイヤー */

#player {

  width: 90%;

  max-width: 400px;

  margin-top: 20px;

}


/* 曲選択ボタン */

.song {

  cursor: pointer;

  transition: 0.2s;

}


.song:hover {

  background-color: #555;

  transform: scale(1.03);

}


.song:active {

  transform: scale(0.97);

}


/* プレイヤー枠 */

.player-box {

  background-color: #222;

  padding: 20px;

  margin: 30px auto;

  border-radius: 15px;

  max-width: 400px;

}


#player {

  width: 100%;

}
.playing {

  background-color: #1db954;

  color: white;

  font-weight: bold;

  box-shadow: 0 0 15px rgba(29,185,84,0.6);

}
